Repository webdoc-labs/webdoc, pull requests merged in 2020-09, with the labels that each got.

#20 Right-hand navigation menu for members of current doc
  packages/webdoc-default-template/helper/crawl/crawl-reference-explorer.js
  packages/webdoc-default-template/helper/crawl/crawl.js
  packages/webdoc-default-template/helper/renderer-plugins/category-filter.js
  packages/webdoc-default-template/publish.js
  packages/webdoc-default-template/src/styles/index.scss
  packages/webdoc-default-template/src/styles/members-explorer.scss
  packages/webdoc-default-template/static/scripts/default-template.js
  packages/webdoc-default-template/static/styles/index.css
  packages/webdoc-default-template/tmpl/components/member.tmpl
  packages/webdoc-default-template/tmpl/components/members-explorer/category.tmpl
  packages/webdoc-default-template/tmpl/components/members-explorer/index.tmpl
  packages/webdoc-default-template/tmpl/document.tmpl
  packages/webdoc-default-template/tmpl/layout.tmpl
Labels: enhancement

#28 Fixes to template output
  example/example.api.json
  example/src/Vector.js
  packages/webdoc-default-template/helper/crawl/crawl-reference-explorer.js
  packages/webdoc-default-template/publish.js
Labels: bug

#30 build(rush): allow using of non lts node
  rush.json
Labels: enhancement

#32 Multi-package support in @webdoc/cli, @webdoc/parser, @webdoc/default-template!
  .gitignore
  common/config/rush/pnpm-lock.yaml
  example.api.json
  example/package.json
  packages/webdoc-cli/package.json
  packages/webdoc-cli/src/config.js
  packages/webdoc-cli/src/index.js
  packages/webdoc-cli/src/sources/index.js
  packages/webdoc-cli/src/sources/packages.js
  packages/webdoc-default-template/helper/crawl/crawl-reference-explorer.js
  packages/webdoc-legacy-template/.eslintrc.json
  packages/webdoc-legacy-template/babel.config.json
  packages/webdoc-legacy-template/package.json
  packages/webdoc-parser/src/parse.js
  packages/webdoc-parser/src/symbols-babel/build-symbol-tree.js
  packages/webdoc-parser/src/symbols-babel/index.js
  packages/webdoc-parser/src/tag-parsers/parseProperty.js
  packages/webdoc-parser/src/transformer/document-tree-modifiers.js
  packages/webdoc-parser/src/transformer/mod-package-api.js
  packages/webdoc-parser/src/types/LanguageIntegration.js
  packages/webdoc-parser/src/types/Symbol.js
  packages/webdoc-parser/test/parse.js
  packages/webdoc-types/index.js.flow
  scripts/configureWebdocTesting.js
  webdoc.conf.json
Labels: @webdoc/cli, @webdoc/default-template, @webdoc/parser, enhancement

#29 CSS styling
  packages/webdoc-default-template/src/styles/document.scss
  packages/webdoc-default-template/src/styles/footer.scss
  packages/webdoc-default-template/src/styles/global.scss
  packages/webdoc-default-template/src/styles/header.scss
  packages/webdoc-default-template/src/styles/index.scss
  packages/webdoc-default-template/src/styles/members-explorer.scss
  packages/webdoc-default-template/src/styles/members.scss
  packages/webdoc-default-template/src/styles/pages/api-index.scss
  packages/webdoc-default-template/src/styles/snippets.scss
  packages/webdoc-default-template/src/styles/tables.scss
  packages/webdoc-default-template/src/styles/themes/index.scss
  packages/webdoc-default-template/src/styles/themes/light.scss
  packages/webdoc-default-template/src/styles/vars.scss
  packages/webdoc-default-template/static/styles/index.css
  packages/webdoc-default-template/tmpl/components/member/index.tmpl
  packages/webdoc-default-template/tmpl/components/member/params.tmpl
  packages/webdoc-default-template/tmpl/components/member/returns.tmpl
  packages/webdoc-default-template/tmpl/components/members-explorer/category.tmpl
  packages/webdoc-default-template/tmpl/components/members-explorer/index.tmpl
  packages/webdoc-default-template/tmpl/components/members.tmpl
  packages/webdoc-default-template/tmpl/components/signature.tmpl
  packages/webdoc-default-template/tmpl/document.tmpl
  packages/webdoc-default-template/tmpl/layout.tmpl
  packages/webdoc-default-template/tmpl/pages/api-index.tmpl
Labels: @webdoc/default-template, enhancement

#36 [Feature]: Explorer Refactor
  example/package.json
  packages/webdoc-cli/src/sources/packages.js
  packages/webdoc-default-template/helper/crawl/crawl-reference-explorer.js
  packages/webdoc-default-template/helper/crawl/crawl.js
  packages/webdoc-default-template/helper/renderer-plugins/signature.js
  packages/webdoc-default-template/publish.js
  packages/webdoc-default-template/src/styles/index.scss
  packages/webdoc-default-template/src/styles/md.scss
  packages/webdoc-default-template/static/styles/index.css
  packages/webdoc-default-template/tmpl/document.tmpl
  packages/webdoc-default-template/tmpl/pages/main-page.tmpl
  packages/webdoc-model/src/doc.js
  packages/webdoc-parser/src/assembler/mod-resolve-assigned-members.js
  packages/webdoc-parser/src/parse.js
  packages/webdoc-parser/src/transformer/mod-package-api.js
  packages/webdoc-template-library/src/SymbolLinks.js
Labels: @webdoc/default-template, enhancement

#38 parseTypedef unit-test and trimming to prevent whitespace from entering names
  packages/webdoc-parser/src/Logger.js
  packages/webdoc-parser/src/tag-parsers/parseTypedef.js
  packages/webdoc-parser/test/tag-parsers/parseTypedef.js
Labels: bug

#39 [Feature]: Styling
  packages/webdoc-default-template/src/app/components/Footer/Footer.js
  packages/webdoc-default-template/src/styles/footer.scss
  packages/webdoc-default-template/src/styles/global.scss
  packages/webdoc-default-template/src/styles/snippets.scss
  packages/webdoc-default-template/src/styles/tables.scss
  packages/webdoc-default-template/static/scripts/default-template.js
  packages/webdoc-default-template/static/styles/index.css
  packages/webdoc-default-template/tmpl/components/member/params.tmpl
  packages/webdoc-default-template/tmpl/pages/api-index.tmpl
  packages/webdoc-default-template/tmpl/pages/main-page.tmpl
Labels: @webdoc/default-template
